@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

$njuta-pink: #fcdacd

.mp400-hero
    position: relative
    
.mp400-hero-body h1
    color: white

.mp400-hero-video
    z-index: -1

.mp400-hero-video video
    width: 100%
    +mobile
        display: none

.mp400-hero-body
    position: relative
    +mobile
        background-color: $njuta-pink
        text-align: center
        padding: 4rem
    +tablet
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center

.price-cell
    white-space: pre-wrap