@font-face {
  font-family: 'Marta';
  src: local('Marta'), url(./fonts/marta.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: local('Montserrat-Light'), url(./fonts/Montserrat-Light.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans&display=swap');